<!--

INSTITUTION: UDEMY.COM
COURSE: 100 Days of Code - The Complete Python Pro Bootcamp for 2022
INSTRUCTOR: Dr. Angela Yu

DESCRIPTION:
Master Python by building 100 projects in 100 days.
Learn to build websites, games, apps, plus scraping and data science

DAY: 62
PROJECT: Flask, Bootstrap, Forms, & Data
LEVEL: Expert

-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Rating</title>
</head>
<body>
     <form action="{{ url_for('edit') }}" method="POST">
        <p>Book Name: {{book.title}}</p>
        <p>Current Rating {{book.rating}}</p>
         <input hidden="hidden" name="id" value="{{book.id}}">
        <input name="rating" type="text" placeholder="New Rating">
        <button type="submit">Change Rating</button>
    </form>
</body>
</html>