/*

INSTITUTION: UDEMY.COM
COURSE: 100 Days of Code - The Complete Python Pro Bootcamp for 2022
INSTRUCTOR: Dr. Angela Yu

DESCRIPTION:
Master Python by building 100 projects in 100 days.
Learn to build websites, games, apps, plus scraping and data science

DAY: 41-44
PROJECT: Enhanced CV
LEVEL: Advanced

*/

body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #66BFBF;
    font-size: 562.5%;
    font-family: 'Walter Turncoat', cursive, serif;
}

h2 {
    margin-top: 0;
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Kameron', serif;
}

h3 {
    color: #11999E;
    font-family: 'Merriweather', serif;
}

hr {
    border: none;
    border-top: 5px dotted #7C99AC;
    width: 40px;
    margin: 50px auto;
}

p {
    font-family: 'Taviraj', serif;
}

p > a {
    color: #11999E;
    padding: 20px;
    text-decoration: none;
}

.header {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.about {
    background-color: #EEEBDD;
    padding: 50px 0 50px 0;
}

.about h2, .about .skills h2 {
    margin: 50px auto;
}

.profile, .skills, .contact-me {
    width: 50%;
    margin: auto;
}

.profile-image {
    border-radius: 100%;
    background-color: #7C99AC;
    width: 25%;
}

.skill-row {
    text-align: left;
    margin: 100px auto 100px auto;
}

.development-image {
    border-radius: 100%;
    background-color: #43919B;
    margin: 20px 30px 20px 0;
    width: 25%;
    float: left;
}

.music-image {
    border-radius: 100%;
    background-color: #069A8E;
    margin: 20px 0 20px 30px;
    width: 25%;
    float: right;
}

.contact-me a {
    display: inline-block;
    margin-top: 30px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #66BFBF;
    color: #EAF6F6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

