<!--

INSTITUTION: UDEMY.COM
COURSE: 100 Days of Code - The Complete Python Pro Bootcamp for 2022
INSTRUCTOR: Dr. Angela Yu

DESCRIPTION:
Master Python by building 100 projects in 100 days.
Learn to build websites, games, apps, plus scraping and data science

DAY: 61
PROJECT: Flask WTForms
LEVEL: Expert

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block styling %}
    <style>
    body{
        background: purple;
    }
    {% endblock %}
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>