{% extends 'blog.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block title %}
  {% if is_edit: %}
    Edit Post
  {% else: %}
    New Post
  {% endif %}
{% endblock %}

{% block content %}
{% block navigation %}{{ super() }}{% endblock %}
  <!-- Page Header -->
  {% if is_edit: %}
  <header class="masthead" style="background-image: url('{{ post.img_url }}')">
  {% else %}
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/images/edit-bg.png')}}')">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit: %}
            <h1>Edit Post</h1>
            {% else: %}
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

  {% block footer %}{{ super() }}{% endblock %}
  {% endblock %}